body {
  background-color: white;
  font-family: Roboto, "Segoe UI", sans-serif;
  max-width: 800px;
  margin: auto;
}
footer {
  text-align: right;
}
h2 {
  padding: 0px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #eee;
  padding: 4px;
}
tr:nth-child(even){background-color: #fff9e7;}
th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #ffd65a;
  color: black;
}
pre {
  background-color: #fff9e7;
  border: 1px;
  border-color: #FFC107;
  border-style: solid;
  padding: 10px;
}
code {
  font-family: Fira Code, Consolas, Menlo, monospace;
  font-size: small
}
#TOC {
  position: fixed;
  left: 0;
  top: 40px;
  background-color:#ffffff;
  overflow: scroll;
  height: 100%;
  width: 400px;
}
#TOC #full { display: none; }
#TOC:hover #full{
  display: block;
}
#MENU {
  position: fixed;
  left: 0;
  top: 0;
  background-color:#fff59a;
  height: 40px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
#MENU li {
  float: left;
}
#MENU li a {
  display: block;
  padding: 10px;
}

