BasedOnStyle: LLVM 
UseTab: Always
BreakBeforeBraces: Mozilla 
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
SortIncludes: false
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: All
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Right
ColumnLimit: 100
