BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
UseTab: ForIndentation 
BreakBeforeBraces: Attach
IndentCaseLabels: false
ColumnLimit: 0
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: Align

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true

BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
IndentPPDirectives: AfterHash