.DS_Store
.suo
*.blm
*.ll
*.sln
*.rdbg
build
deps/llvm*
deps/lld*
bl.conf
src/config.h
/CMakeLists.txt.user
compile_commands.json
/.idea
/bin
/out/
/.vs/
/msvc/
/etc
/clang/
.cache
/tests/out*
/vs
/build.bat
